<a href="https://colab.research.google.com/github/Akashmadasu1/My_Python_Notes/blob/main/Akash_Pandas_NB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Pandas (2-06-2025)

In [ ]:
#what is pandas?
#it is a open sources library, That works mainly with the labaelled data
#why we are using pandas?
#fast, high pedormance, and productive, and easy to load and read the data
#flexible reshaping of the data and pivoting the data, we use in data visualisation and group by functionality
#time series analysis

In [ ]:
#what is the function of pandas?
#Analysis the data, cleaning, exploring and manipulating the data.

In [ ]:
#what is data cleaning?
#delete irrelevent data, empty or null values, correction of data types , fill null values

**Installation of pandas**

In [ ]:
!pip install pandas

In [ ]:
#import the module
import pandas as pd

In [ ]:
#How many data structures do we have in pandas?
#There are 3 types:-
#1.SERIES:- series are nothing but 1D labelled Arrays's
#How can we build a series?
sr = pd.Series([1,2,3,4,5])
print(sr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]

In [ ]:
#How can we change the labelles?
sr = pd.Series(a, index=['a','b','c','d','e'])
print(sr)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
#create a series from the dictionary?
d = {
    "name" : "medha",
    "course" : "DS",
    "duration" : "4 months"
}
sr = pd.Series(d)
print(sr)
#How can we represent a series in pandas
print(type(sr))
#ans) <class 'pandas.core.series.Series'>

name           medha
course            DS
duration    4 months
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
#create a series from tuple of fruits and give the lables as 'a','b','c','d'
#create a series from list of fruits and give the lables as 'a','b','c','d'

In [ ]:
#can we create a series from the set--> No
a = {1,2,3,4}
sr = pd.Series(a)
print(sr)

In [ ]:
#2.2D-Data-Frame:-
#Data Frame is a 2D size heterogenous data with labelled axis(rows and columns), mutable
#columns also known as features, variables, fields, dimensions, attributes
#rows lso known as records, vlaues, index

In [ ]:
#what is the application fo dataframe?
'''
work on data sets
analysis
dropping
processing
cleaning
join the multiple data
create excel, json, and binary files...etc
compute mathematical and statistical operations
use group by function
'''

In [ ]:
#create a dataframe from list
l = [1,2,3,4,5,6,7]
df = pd.DataFrame(l)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [ ]:
#create a dataframe from the set of fruits or number
s1 = {'apple','banana','cherry','grapes','orange'}
df = pd.DataFrame(s1,index=['a','b','c','d','e'])
print(df)
#

        0
a   apple
b  cherry
c  grapes
d  orange
e  banana

**Importing and exporting the data**

In [3]:
#1.csv-->comma, seprate, values
#Read the csv files by using the pandas
import pandas as pd

In [4]:
#package-->modules<--code libraries
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
#covert the above data in to excel foramt
df.to_excel('california_housing_test.xlsx')

In [ ]:
#read the df
df.head(10)

In [ ]:
#read the excel file
df2 = pd.read_excel('/content/california_housing_test.xlsx')
df2.head()

In [ ]:
#convert the excel file into json format
df2.to_json('california_housing_test.json')

In [ ]:
#read the json file
df3 = pd.read_json('/content/california_housing_test.json')
df3.head()

**Data Frame functions**

In [5]:
#step1:- read the data
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
#step2:- check the size and index of the df
df.size #size->no of rows * no of columns
#index gives the range of index from start to end along with the step
df.index

RangeIndex(start=0, stop=17000, step=1)

In [ ]:
#read the columns of your data
df.columns

In [ ]:
#check the no of rows and columns
df.shape

In [ ]:
#get the overall infromation of the dataframe?
df.info()

This data is having 17000 rows and 9 columns

There no null values

For all the columns the data type is float

In [ ]:
#print the data types for above dataframe
df.dtypes

In [6]:
#How to describe the overall data according to staistics?
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
#print the last 5 rows fo above df
df.tail()

In [ ]:
#check th null values
df.isnull() #returns the boolean expression of null values present or not

In [ ]:
df.isnull().sum()

In [ ]:
#1. pd.Series(name,index=[a,b,c])
#2. pd.DataFrame(name,index)
#3. pd.read_csv("file path") ->read the csv
#4. df.head() - >by default it read the 1st 5 rows
#5. df.shape -> read the rows and columns
#6. df.index ->returns the range of indexes from start to end along with step
#7. df.columns ->read th columns of the dats
#8. df.info() -> overall information of df
#9. df.describe() ->description stats of dataframe
#10. df.tail --> by default it reads last 5 rows of the df
#11. df.isnull().sum() ->gives the total null values in the dataframe

# (3-05-2025)

**Access the DataFrame**

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
#read 1st 5 rows of the df
df.head()

In [3]:
#print the column names
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
#read and access the column 'total_bedrooms'
df['total_bedrooms']

In [ ]:
#read the first 5 rows
df['total_bedrooms'].head()
df['total_bedrooms'].tail()

In [5]:
df['total_bedrooms'].head()
#print th e1st row value of column 'total_bedrooms'
df['total_bedrooms'][0]

np.float64(1283.0)

In [ ]:
#print the indexes-->1545,12455,6500
df['total_bedrooms'][100:200]

In [8]:
df['total_bedrooms'][1545]
df['total_bedrooms'][12455]
df['total_bedrooms'][6500]

np.float64(534.0)

In [ ]:
#How can we acess the multiple columns? 'total_rooms','total_bedrooms','population',
df[['total_rooms','total_bedrooms','population']].head()

**loc()** is used to locate rows

In [ ]:
#df.loc[start:end:step]
#print the entire forst row of my dataframe
df.loc[0]
#print the values if index rows from 100 to 105
df.loc[100:106]
#read the rows with even and odd indexes up to the 100th row
df.loc[0:100:2] #even index rows
df.loc[1:100:2] #odd index rows

In [ ]:
#display even index position values of a particular column---> 'total_bedrooms'
df.loc[0:100:2,'total_bedrooms']
df['total_bedrooms'].loc[0:20:2]

In [ ]:
#display even index position values of a specific  columns---> 'total_bedrooms','total_bedrooms', 'population'
df[['total_rooms','total_bedrooms', 'population']].loc[0:20:2]
df.loc[0:20:2,['total_rooms','total_bedrooms', 'population']]

In [ ]:
#Applying the conditions  for the columns
#print the even values of the column tota_bedrooms
df[['total_bedrooms']] % 2==0

In [ ]:
df.loc[df['total_bedrooms']%2==0]['total_bedrooms']

In [ ]:
df_even = df[df['total_bedrooms']%2==0]['total_bedrooms']
df_even.head()

In [ ]:
#locate the rows in between
df.loc[[6500,2500,7000]]

In [ ]:
import numpy as np
a = np.array([10,12,13,15,16,18,17,21,22,26])
# print(a%2==0)
a_even = a[a%2==0]
print(a_even)

**Iloc**--> passes axis number of rows and columns

In [15]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
df.head()

In [ ]:
#syntax-->df.iloc[row_index[start:end:step],column_index[start:end:step]]
#print the 1st 3 rows of following columns 'latitude', 'housing_median_age', 'total_rooms','total_bedrooms'
df.iloc[0:3,1:5]
df.iloc[1,3]
df.iloc[3,6]

In [ ]:
df.iloc[0:100:2,1:5]

In [ ]:
#what is the difference between the loc and iloc?
#loc supports the filtering where as i loc doesnot support filtering
#we can apply condition in loc and we cannot apply condition in i loc.
df.iloc[df['total_bedrooms']%2==0]['total_bedrooms']

In [ ]:
#locate the rows of specific columns, 'population', 'households','housing_median_age' [for ex:- locate first 10 rows].
df.loc[0:10,['population', 'households','housing_median_age']]

In [ ]:
#locate the rows of of indexes 545,789,543
df.loc[[676,789,543]]

In [ ]:
df.iloc[[545,789,543]]

In [ ]:
#i want see the value at 676 index of total bedrooms
df.iloc[676,4]

In [ ]:
#find the unique values in the specific columns--> total_rooms
df['total_rooms'].unique()

In [ ]:
#find the frequency of each value in the specific column
df['housing_median_age'].value_counts()

In [ ]:
#find the duplicate data is present or not
df.duplicated().sum()

In [ ]:
#drop the duplicates
df.drop_duplicates(inplace=True)

In [ ]:
#access the single column--> df['column_name']
#access the multiple columns--> df[[col1,col2,col3...etc]]
#locate particular row of data---> df.loc[start:end:step]
#locate particular values from particular column---> df.iloc[row_index,col_index]
#find the unique values--->df['col_name'].unique()
#get the frequency of data points in specific column. df['col_name'].value_counts()
#find the duplicate in df---> df.duplicated().sum()
#drop the duplicate data-->df.drop_duplicates(inplace=True)