<a href="https://colab.research.google.com/github/Akashmadasu1/My_Python_Notes/blob/main/Akash_python_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  **Course Details**
   python-->B,I,A,E
   NUMPY,
  PANDAS,
   STATS,
   SQL--MYSQL or Nosql--mongodb,
   Dv-seaborn matplot--> power Bi or tableau,
   Dpps,
   AI/ML,
   NLP,
   --->LLM, gen-ai-->AIFLOW-->AGENTIC AI

In [ ]:
"""python-->B,I,A,E
   nUMPY
   PANDAS
   STATS
   SQL--MYSQL or Nosql--mongodb
   Dv-seaborn matplot--> power Bi or tableau
   Dpps
   AI/ML
   NLP
   --->LLM, gen-ai-->AIFLOW-->AGENTIC AI

#Module1_Python 5-04-2025

In [ ]:
#what is python
"""1.Python is most emerging,general purposing programming language
   2. Python is high level programming language
   3.Python is a dynamcally typed programming language
   4.Python is object oriented programming language
   5.Python is interpreted programming language """
#what is comment?
#for better understanding of the code we use comments
#comments are 2 types
#1.Single line comment
#2.multiline comment-->double triple quotes(""" """)

In [ ]:
#Q)what is general purpose programming language?
'''Q)what is the main purpose of python?
A)manage the tons of data and AI development
due to its more libraries-->we are using it for web and mobileapp development
"""

In [ ]:
#How many levels of programming language do we have?
"""There are 2 levels
1.lOW-LEVEL:- IS ALSO KNOWN AS machine friendly programming language
âŸ¶  each line of code is changing in to binary forms-->1's and 0's
âŸ¶ more lines of codes
   ex:- c, c++,.net"""
#2.High-level programming language:- is also known as
""" âŸ¶ human friendly programming language
    âŸ¶ codes are not changing into binary forms
   âŸ¶ low lines of codes
   âŸ¶ ex:- java, python"""

In [ ]:
#python is object oriented programming language?
# object oriented programming means each LOC having own identity own properties own interaction based on three ways the object is belongs to certain category of class
#A.Each line of consider has a object and object is having its own identity , attributes or Properties and methods of interaction.
''''ðŸ  Real-Life Analogy:
->Think of a class like a blueprint for a house.
->It defines what every house will have: doors, windows, rooms.
->But you can't live in a blueprint, right?
->So you build a house using that blueprint. That house is an instance of the blueprint.'''

# Define a class (blueprint)
class Dog:
    def __init__(self, name):
       # Attribute
        self.name = name

    # Method (Behavior)
    def bark(self):
        print(f"{self.name} says woof!")

# Create instances (real objects from the Dog class)
dog1 = Dog("Buddy")   # Instance 1
dog2 = Dog("Charlie") # Instance 2

# Use their methods
dog1.bark()  # Output: Buddy says woof!
dog2.bark()  # Output: Charlie says woof!

# Check their types
print("Type of dog1:", type(dog1))
print("Type of dog2:", type(dog2))


''''Dog is the class (blueprint).

dog1 and dog2 are instances (real objects).

Each instance has its own data (name) and behavior (bark()).'''

In [ ]:
''''Note:-in python each line of code can be considered as an object means object is having its own identity , attributes or Properties and methods of interaction
->based this three ways the object is belong '''

In [ ]:
#python is a dynamically typed programming language?
''''It means you donâ€™t need to declare the data type of a variable when you create it.
Python automatically figures it out at runtime based on the value you assign.
->in static type we have declare a variable for example like c,c++,java'''
#we no need to define the datatypes to the variables in the python
#python can read the data automatically by itself
a = 10
print(type(a))
b = "How"
print(type(b))

In [ ]:
#5.python is an interpreted programming language?
''''An interpreted language runs its code line by line, using an interpreter, instead of compiling the whole program into machine code first.
->it consider last line of code as a output
->Interpreted means	Adjective like	Describes a language that uses an interpreter
->Interpreter	means Noun like	A program that executes the code line-by-line'''

In [ ]:
#6.python is a case sensitive programming language?
h = "123"
print(H)

# 6-05-2025

In [ ]:
#print a hello world in python
print("Hello world!")

Numerical data types (6-05-2025)

In [ ]:
#How many types of Numerical data types/
#there are 3 types
#1.Integer--->int-->a whole number eithe +ve or -ve without decimal point is known as integer
print(20)
print(5)
#find the type for above elements
#type()--- is an inbuilt function used to print the data type of the object
print(type(10))
print(type(5))

20
5
<class 'int'>
<class 'int'>

In [ ]:
#2.float----> #float---> A whole number either +ve or -ve with decimal point is known as float
print(10.5)
print(-5.5)
#find the type for above elements
print(type(10.5))
print(type(-5.5))

10.5
-5.5
<class 'float'>
<class 'float'>

In [ ]:
#3.Complex numbers----->complex----> A REAL NUMBER withits imaginary part is known as complex number
#imaginary is denoted with letter 'j'---->is known as iota
print(2+5j)
print(6j+3)
print(type(2+5j))
print(type(6j+3))

(2+5j)
(3+6j)
<class 'complex'>
<class 'complex'>

Arthemetic Operators

In [ ]:
#How many types of arthimetic operators do we have in Python?
#There are 7 types of arithemetic operators
#1.Addition----->
print(10+5)
print(type(10+5))

15
<class 'int'>

In [ ]:
#2.Substraction------>
print(10-5)
print(type(10-5))

5
<class 'int'>

In [ ]:
#3.Multiplication ------>
print(2*3)
print(type(2*3))

6
<class 'int'>

In [ ]:
#4.Division------>
print(10/5)
print(type(10/5))
#Note:-the default data type for division is float bcz to get the proper co-efficient
#what is default data type for the division--->why
#some times in divison we may get decimal number in quotient or integers also.So the founder
#(Gudeo Van Rossum) to get the proper quotient data type for division is float

2.0
<class 'float'>

In [ ]:
#5.Modulus--->%----> remainder of the division
print(10%5)
print(type(10%5))

0
<class 'int'>

In [ ]:
#6.Exponential---->**---> to the power off
print(2**3)
print(type(2**3))

8
<class 'int'>

In [ ]:
#7.Floor Division---->//---->also known as integer division
#it ignores the values after the decimal point for a quotient
print(10/3)
print(10//3)

3.3333333333333335
3

In [ ]:
#what is floor value?
#The values before the decimal point is known as floor value
#what is ceil value?
#the text upcoming value for a decimal number where the decimal point is more than 0.5

floor value and ceil value

In [ ]:
#The values before decimal point is known as floor values
#what is ceil value?
#The next upcoming number for a decimal number is known as ceil value

In [ ]:
#round():- this function is applicable only for decimal numbers
#if the decimal values are greater then 0.5 it print ceil value
#if the decimal values less then 0.5 then it print floor value

round()

In [ ]:
#1.round() works only for the decimal numbers
#2.if the decimal point more than 0.5 round() print the next upcoming value--->ceil value
#3.if the decimal point less than 0.5 round() print the floor value
print(round(9))
print(round(5.5))
print(round(5.48))
print(round(1234.46789))
print(round(567.987))
#round() is used print number with specific ndigits
#round(number,ndigits)

9
6
5
1234
568

In [ ]:
print(round(231537.8378844540))
print(round(426.3284747,3))

231538
426.328

In [ ]:
print(round(785.42563,0))
print(round(6589.32947890,5))
print(round(12.59426,4))

785.0
6589.32948
12.5943

In [ ]:
#round(-ve digit)
#variables
#types of errors
#industrial rules to create the variables
#what is dynamically typed programming language
#why python is interpreted programming
#prove python is a case sensitive programming language
#smart ways of writing variables
#input()

# 07_05_2025

round()

In [ ]:
print(3754.2366325)
print(round(3754.2366325,2))

3754.2366325
3754.24

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-2))
#after decimal point the number become zero

3754.2366325
3800.0

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-3))

3754.2366325
4000.0

In [ ]:
print(3754.2366325)
print(round(3754.2366325,-4))

3754.2366325
0.0

In [ ]:
print(round(827256.723456,-3))

827000.0

In [ ]:
print(round(827256.723456,-4))

830000.0

In [ ]:
print(round(-12345.4567,-3))

-12000.0

In [ ]:
print(round(73424.3452,-5))

100000.0

In [ ]:
print(round(53624.73626,-5))

100000.0

**Types of errors**

In [ ]:
#There are 2 Types
#1.Syntax error:- Braking the rules of a programming language can rise syntax error
#2.Logical errors:-except syntax

Variables

In [ ]:
#what is a variable?
#variables are containers where we can store our valuable information/data to reuse it
#How can we create a variable and how can we access the data from variables?
a = "Hello world!"
print(a)
print(type(a))

Hello world!
<class 'str'>

In [ ]:
#take two variables and apply all arthemetic operators
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

Types of Errors

In [ ]:
#How many types of errors do we have in Python?
#there are 2 types of errors
#1.Syntax Error:-when you break rules of a programming language it can rise syntax error
'''hello I am using
multiline comment when we use single triple quotes
we need to enclose with single quotes'''
#2.logical Error:-except syntax error all the errors comes under logical errors
print(10* *5)
#ex:- indentation errors,Name error, Type error, attribute error, recurssive error....etc

rules to create variables

In [ ]:
#1.start creating the variables by using alphabets
son = 20
print(son)

20

In [ ]:
#2.dont start creating the variable by using numbers
2 = "hello"
print(2)

In [ ]:
#2.dont start creating the variable by using numbers
2 = "hello"
print(2)

In [ ]:
#4.dont use special characters in the variable name--->!,@,#,$,%,^,&,*,?,white space
son@age = 20
print(son@age)

In [ ]:
#5.start creating the variable by using under score __
_ = 10
print(_)

10

In [ ]:
#instead of space use the underscore
son_age = 20
print(son_age)

20

In [ ]:
#6.Dont use the inbuilt keywords in the variable name
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
None = 90
print(None)

In [ ]:
#7.we cannot encourage to write a variable name in uppercase letters
SONAGE = 30
print(SONAGE)

30

Smart ways of writing variables

In [ ]:
#1.assign multiple value to multiple variables and printing separate line?
# hint:take 3 variables and assign values
a = 10
b = 5
c = 4
print(a)
print(b)
print(c)

10
5
4

In [ ]:
a,b,c = 10,20,30
print(a,b,c, sep='\n')

10
20
30

In [ ]:
#Assign the same value to the variables and print in sep line
a = b = c = 10
print(a,b,c, sep='\n')

10
10
10

In [ ]:
a = b = c = 10
print(a,b,c)

10 10 10

***input()***

In [ ]:
#what is input()?
#input() is a inbuilt function where it can intakes any kind of information or value and store it
#How can we create the input()?
#by assigning to a variable
a = input('Enter your Name: ')
#HOow can we access the information from input()?
print(a)

In [ ]:
#take 2 input functions and apply addition on it
a = input('enter num1: ')
b = input('enter num2: ')
print(a+b)
#Note:- The default data type for input() is strings
#adding of two strings is known as concatenation

enter num1: 7
enter num2: 3
73

In [ ]:
#How can we deal with numerical data when we use input()?
#before the input() we need specify the particular numerical data type, int or float
a = int(input('enter num1: '))
b = int(input('enter num2: '))
print(a+b)

enter num1: 3
enter num2: 5
8

In [ ]:
a = float(input('enter num1: '))
b = float(input('enter num2: '))
print(a+b)

enter num1: 34.6
enter num2: 23.6
58.2

#Strings (8-05-2025)

In [ ]:
#what is Strings?
#string is collection of multiple characters where each characters can be accessible
#How can we declare string?
#a string declared by using(" ") or (' ')
#How many types of strings do we have?
#There are 2 types
#1.single line string--->" " or ' '
#2.multiline string---->"""double triple quotes """ or '''single triple quotes'''

In [ ]:
print("Hello world!")
a = """Hi
       Good day!
       Today session is about strings"""
print(a)

Hello world!
Hi
       Good day!
       Today session is about strings

In [ ]:
#How can we access the characters from the string
#by using indexing and slicing operator---->[]
#what is indexing?
#positional number character in the string
#the indexing can be starts from zero
#The process of accessing a range of characters from string is known as slicing
#The range of characters from the main string is known as sub-string

In [ ]:
a = "Hello world!"
#from the above string print letter 'w'
#syntax:- [index number]
print(a[6])
#print letter 'd'
print(a[10])

w
d

In [ ]:
#access the range of characters from above string print only "hello"
#syntax :- [start:end_index] ----> always give the end_index can be ---->n+1
print(a[0:4])
#

Hell

In [ ]:
b = "Hello world!"
print(b[6:12])

world!

In [ ]:
c = "hello good evening!"
#print "good"
print(c[6:10])

good

In [ ]:
d = "Hello world!"
#from above string print the characters at the even inde position number
#syntax---->[start:end:step]
print(d[0:12:2])
#from above string print the odd index position characters.
print(d[1:12:2])
#print the last character of the string
print(d[11])

Hlowrd
el ol!
!

In [ ]:
#what is negative indexing?
#accessing the range of characters in reverse direction by using -ve indexing
#negative indexing starts with -1
a = "Hello guys accessing the range of characters in reverse direction"
#syntax:- [-ve_index]
print(a[-1])

n

In [ ]:
#access the range of characters in reverse direction--- for ex access 'world!'
#expect_output:- !dlrow
#syntax:- [start-ve index:end-ve index]
a = "Hello world!"
print(a[-1:-7:-1])
print(a[6:12])
#Because the default slicing direction is from left to right
#if you want to reverse a string we need define the step_index as -1

!dlrow
world!

In [ ]:
#find the length of the below string?
d = "Hello world!"
print(len(d))
#len starts from 1

12

Default indexing

In [ ]:
a = "Hello World!"
print(a[:])
print(a[0:len(a)])
print(a[::2])
print(a[1::2])

Hello World!
Hello World!
HloWrd
el ol!

In [ ]:
#check the string whether it is palindrome or not
b = input("enter the string")
print(b[::-1])

String Methods

In [ ]:
#what is string? #what are all the methods we can apply on string
#The methods applied on string is known as string methods
#if i want to know all the methods of a string use---> dir()
a = "Hello World!"
print(type(a))
print(dir(a))
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map',
'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable',
 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
  'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip',
'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'"""

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

"'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', \n'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable',\n 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',\n  'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', \n'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'"

In [ ]:
#tell me aa 10 important string methods?

In [ ]:
a = "hello World!"
#capitalize():- it coverts 1st letter capital
print(a.capitalize())

Hello world!

In [ ]:
#2.upper():- it converts the string into lower case
print(a.lower())

hello world!

In [ ]:
#3.lower():- it converts the string into lower case
print(a.lower())

hello world!

In [ ]:
#4.title():- converts 1st letter of string into capital letter after every white space
print(a.title())

Hello World!

In [ ]:
#***5.replace(old,new):- replace the old string with new string
#replace the 'world' to 'universe' and print 'hello universe!'
b = "hello world!"
print(b.replace('world','universe!'))

hello universe!!

In [ ]:
#6.strip:-removes the unwanted spaces from leading and trailing side of a string
c = "     Hello World!"
print(c)
print(c.strip())

     Hello World!
Hello World!

In [ ]:
#7.lstrip():-removes the space from the left side of the string
print(c.lstrip())

#8.rstrip():-removes the spaces from right side
print(c.rstrip())

Hello World!
     Hello World!

In [ ]:
#9.find():-finds the index number of character in the string
d = "Medha edu-Tech"
#print the index position of '-'
print(d.find('d'))
print(d.find('-'))
print(d.find('x'))
#if the character are present means find() returns index position number else returns -1

2
9
-1

In [ ]:
#10.index():-finds the index number of chracter in the string
d = "medha edu-Tech"
print(d.index('d'))
print(d.index('x'))
#q)what is the difference between index() and find()/
#in find() method if the character is not found means it returns -1
#where as in index() method if the character is not found means it rise an error

In [ ]:
a = "Hello world!"
print(a.find('l'))

2

In [ ]:
#swap case():- converts the upper into lower and lower into upper
b = "Medha edu-tech"
print(b.swapcase())

mEDHA EDU-TECH

In [ ]:
#11.zfill():- fill the zeroes infront of the string to match the length of argument
print(b.zfill(20))

00000000hello world!

String Format methods

In [ ]:
#f'string {format} method:-
#it takes  an argument and place it over the place holder
age = 10
text = f'my age is {age} years old'
print(text)

my age is 10 years old

In [ ]:
item = input("Enter your item name: ")
quantity = int(input("enter quantity: "))
price_each = float(input("enter price of each: "))
notify = f"""Your order for {item} is confirmed with an quantity of {quantity} and Total price is {price_each*quantity}"""
print(notify)

Enter your item name: biryani
enter quantity: 3
enter price of each: 199.0
Your order for biryani is confirmed with an quantity of 3 and Total price is 597.0

sub-slicing

In [ ]:
a = "Hello world!"
print(a[0:5][2:6])

llo

Escape characters

In [ ]:
#To print illegal characters inside a string we use escape characters
#it can be represented with backward slash(\)
a = "akash \"hi\" hello"
print(a)

In [ ]:
#what is condition?
#we have 3 conditions
#if,else,elif
user_name = int(input("Enter your marks: "))
if user_name>=45:
  print("Congratulations")
  print("You have pass")
else:
  print("Better luck next time")

Enter your marks: 45
Congratulations
You have pass

In [ ]:
#write a program if the num is >0 print +ve result else print -ve. if the num is equal to zero point neutral
#if---elif---else
num = int(input("Enter number: "))
if num>0:
  print("Positive")
elif num==0:
  print("Neutral")
else:
  print("Negative")

Enter number: 0
Neutral

In [ ]:
#how can we check the condition?
#comparison operators or relational operators
#1.equlal's too---> "="
#2.not equal too--->"!="
#3.greater than---> >
#4. less than ---> <
#5. greater than or equal too ---> >=
#6. less than or equal too--> <=

In [ ]:
#logical operators ---> 3 types
#And- if all the conditions are true than only execute the program
#logical operators ---> 3 types
#And- if all the conditions are true than only execute the program
#or- if any one condition is true execute program
#not: it reverse your actual output
print(10==10)
print(10==25)
print('H'=='h')
print(not(10==10))

True
False
False
False

In [ ]:
a = 25
b = 10
c = 15
d = 60
#check a>c and d>b and c<b
if a>c or d>b or c>b:
  print("all the statements are true")
else:
  print("any one statement is wrong")

all the statements are true

# 09-05-2025

Conditional statements

In [ ]:
#conditional statements: is used to check specific condition is ssatisfied or not

In [ ]:
#To build decision making codes  we use conditional statements
#How can we check a condition?
#to check the condition we need to use comparison operators
#There are 6 comparison operators
#1.equlal's too---> ==
#2.not equal too---> !=
#3.greater than---> >
#4. less than ---> <
#5. greater than or equal too ---> >=
#6. less than or equal too--> <=

In [ ]:
#How many conditional statements do we have?
#3 conditional statement
#if--->elif---->else
#what is if?
#if i want to check a single true condition will use 'if'
#what is else?
#other than if condition or if the

In [ ]:
#check the 10 is greater than 5 or not
a = 10
if a>5:
  print("True")
else:
  print("False")

True

In [ ]:
#check a string is palindrome or not irrespective of letter case
print('hello' == 'hello')
print('Hello' == 'hello')

True
False

***Nested conditions***

In [ ]:
#writing a condition inside another condition is known as nested condition
#1.why we require nested condition? or what is the purpose of nested condition?
#A Block of code can be executed if the previous condition is true
#nested conditions give the series of output

In [ ]:
a = 20
#check this num is greater than 10,20,30,40 and 50
#iff the a>10---> 35 is greater than 10
#iff the a>20---> 35 is greater than 20
#iff the a>30---> 35 is greater than 30
#iff the a>40---> 35 is greater than 40
#iff the a>50---> 35 is greater than 50
if a>10:
  print('a is greater than 10')
  if a>20:
    print('a is greater than 20')
    if a>30:
      print('a is greater than 30')
      if a>40:
        print('a is greater than 40')
        if a>50: #removed extra indentation here
          print('a is greater than 50')
        else:
          print('a is less than 50')
      else:
        print('a is less than 40')
    else:
      print('a is greater than 30') #this line also has logic error and should be 'a is less than 30'
  else:
    print('a is less than 20')
else:
  print('a is less than 10')

a is greater than 10
a is less than 20

In [ ]:
#conditional statements ---> if-->elif--->else
#comparison operators is also known as relational operators--->6 types, ==,!=.>,<,>=,<=

Ternary operator

In [ ]:
x = 5
result = "even" if x%2==0 else "odd"
print(result)

odd

In [ ]:
a = "Hello good morning"
#check "good" is present in above string
if "good"

In [ ]:
#write a program to check eligible for vote or not
#greater than or equal to 18years
x = int(input("Enter your age: "))
if x>=18:
  print("You are Eligible")
else:
  print("You are not Eligible")

Enter your age: 14
You are not Eligible

In [ ]:
#write a program to check the grades of the students based on the received marks
#if the student is having marks from 40 to 60---> print "D" grade along with marks
#if the student is having marks from 61 to 70---> print "c" grade along with marks
#if the student is having marks from 71 to 80---> print "B" grade along with marks
#if the student is having marks from 81 to 90---> print "A" grade along with marks
#if the student is having marks from 91 to 100---> print "A+" grade along with marks
#if the sudent is having marks than 100 print "Dont be smart"
#if the student is having marks less than 40 print "Better luck next time"
#Use tha nested if condition along with elif.
marks = int(input("Enter your marks: "))

if marks > 100:
    print("Don't be smart")
elif marks >= 91:
    print(f"You got a A+ with {marks} marks!")
elif marks >= 81:
    print(f"You got a A with {marks} marks!")
elif marks >= 71:
    print(f"You got a B with {marks} marks!")
elif marks >= 61:
    print(f"You got a C with {marks} marks!")
elif marks >= 40:
    print(f"You got a D with {marks} marks!")
else:
    print("Better luck next time")

Pass

In [ ]:
#what is pass?
#pass is a null place holder whrn executes nothing will happens
a = 10
if a>20:
  pass

# 12-05-2025

**Loops**

In [ ]:
#write a program to count down the pushups
target = int(input())
intial = 0
while intial <= target:
  print('go up')
  print('go down')
  print('========rep completed==========',intial)
  intial = intial + 1

In [ ]:
#loop: set of instructions or rules
#1.while loop:runs a set of instructions until the condition remains true
#2.For loop:

In [ ]:
#write a program to count down the pushups
target = int(input())
initial = 0
while initial <= target:
  print("go up")
  print("go down")
  print("======rep completed======",initial)
  initial = initial + 1

In [ ]:
#write a simple program to run a lift?
user = int(input("Enter your floor: "))
initial = 0
while initial <= user:
  print("you are at floor",initial)
  initial = initial + 1

In [ ]:
#what are the control structures of while loop
#break: break will stop the iteration irrespective of code
#continue:
#pass:- null operator when exdecutes nothing will happen

In [ ]:
user = int(input("Enter your floor: "))
initial = 0
while initial <= user:
  print("you are at floor",initial)
  if initial ==3:
    break
  initial = initial + 1

Enter your floor: 2
you are at floor 0
you are at floor 1
you are at floor 2

In [ ]:
user = int(input("Enter your floor: "))
initial = 0
while initial <= user:
  initial = initial + 1
  if initial ==3 or initial ==4 or initial ==7:
    continue
  print("you are at floor",initial)

Enter your floor: 3
you are at floor 1
you are at floor 2

In [ ]:
# print a range of 1 to 10 numbers by  using while ?
initial = 1
while initial <= 10:
  print(initial, end="$")
  initial += 1

1$2$3$4$5$6$7$8$9$10$

In [ ]:
initial = 10
while initial >=1:
  print(initial, end=" ")
  initial -= 1

10 9 8 7 6 5 4 3 2 1

In [ ]:
user = input()
count = 1
while count <= 10:
  print(user)
  count += 1

# 13-05-2025

**For loop**

In [ ]:
#What is for loop?
#i want to run a set of instruction in my iterables(collections)-->[list,tuple,set,dict,array]
#where this rules can be applicable foe each and every element

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
#print even number data from above list
for i in l:
  if i%2==0:
    print(i)

In [ ]:
#How the iterator has built?
#with 2 protocols
#__iter__ and __next__

In [ ]:
a = [1,2,3,4,5,6]
#print the multiple of 2 from above list
#2,4,6,8,10,12
for i in a:
  print(i*2,end=" ")

In [ ]:
b = ['apple','banana','kiwi']
#print the fruits which is having letter 'a'.
for i in b:
  if 'a' in i:
    print(i)

**control struction of for loop**

In [ ]:
#break, continue, pass

In [ ]:
#break:- it stops the iteractions irrespective of items in the collection

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
#break the loop when it reach '4'.
for i in a:
  if j == 4 or j == 7:
    break
  print(j, end = " ")

In [ ]:
#continue:- it skips the current iteration and moves to next iteration
#i dont want to print 2,6,8 from the above list
for i in a:
  if i == 2 or i == 6 or i==8:
    continue
  print(i)

In [ ]:
i = 0
while i <= 10:
  print(i)
  i = i + 1

range(start, end, step)

In [ ]:
for i in range(10):
  print(i,end= " ")

In [ ]:
#print a range of numbers from 20 to 40:
#syntax:-(start,end)
for i in range(20,41):
  print(i,end=" ")

In [ ]:
#print a range of even numbers upto 100?
#if(start,end,step)
for i in range(0,101,2):
  print(i,end=" ")

In [ ]:
#calaculate the sum of numbers from 1 to 10 using for loop?
sum = 0
for i in range(1,11):
  sum = sum + i
print(sum)

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
#calculate the product of elements in above list?
product = 1
for i in a:
  product = product * i
print(product)

In [ ]:
#print the number in reverse from 10 to 1
for i in range (10,0,-1):
  print(i)

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
#find the large number from above list
large = a[0]
for i  in a:
  if i>large:
    large = i
print(large)

Assessment-1

In [ ]:
#1.#print all the uppercase letter from the string
#"Hello World!"
a = input()
for i in a:
  if i.isupper():
    print(i)

Hello World
H
W

In [ ]:
#2.calculate all the factorial of the number using forloop or while loop? --- 5-->
a = int(input("Enter a number:"))
fact = 1
for i in range(1,a+1):
  fact = fact*i

print(fact)

In [ ]:
#3.find the all prime numbers from 1 to 50
a = int(input("Enter a num: "))
for i in range(1,a+1):
  count = 0
  for j in range(1,i+1):
    if i%j==0:
      count = count + 1
  if count == 2:
    print(i, end=", ")

Enter a num: 20
2, 3, 5, 7, 11, 13, 17, 19,

In [ ]:
#4.print the numbers divisible with 3 or 5 in the range of 1 to 20
a = int(input())
for i in range(1,a+1):
  if i%3==0 or i%5==0:
    print(i)

In [ ]:
#5.print a fibonacci series upto interval?
n = int(input())
a = int(input())
b = int(input())

for i in range(n):
  if a>n:
    break
  print(a,end=" ")
  a,b = b,a+b

# Collections or iterables (14-05-2025)

In [ ]:
#what is collection?
#collection is having 2 types of data Homogenous data and Hetergenous data
#what is homogenous data?
#collection is having same data type
#ex:-list is having integers
#Hetergenous data:-collection is multiple data inside it
#How many types of collections do we have?
#there are 4 types
#1.List
#2.Tuple
#3.Set
#4.Dictionary

List

In [ ]:
#what is list? or define a list or how can we declare a list?
#list -->[]
#list defined as ordered, mutable, and it allows the duplicate data

list allows the dulipate data

In [ ]:
l1 = ['apple','banana','kiwi','orange','apple','banana']
#what is length of l1
print(len(l1))
print(type(l1))
print(l1)

**List is ordered**

In [ ]:
#what is ordered means?
#each character in the list is having sequence of index position numbers
#from list l1 print kiwi
#syntax[index]
print(l1[3])

In [ ]:
#print a range of characters 'pineapple', 'kiwi', 'orange' from l1
#[start:end index]
print(l1[2:5])   #slicing will stops always before one index position number

In [ ]:
#print the even elements from the list l1?
print(l1[0:9:2])
#print the odd index position character?
print(l1[1:9:2])



```
# This is formatted as code
```

**default indexing**

In [ ]:
#what is default indexing?
#by deafuly start is 0, end is length of collection and step is 1
l2 = ['apple','banana','pineapple','kiwi','orange','apple','banana','apple']
#print 5 from above list
# print(l2[8])
# print(l2[:])
# print(l2[::])
print(l2[::2]) #o/p--> all the even elements
print(l2[1::2]) #o/p all the odd elements

In [ ]:
#reverse the above list l2
print(l2[::-1])

**list mutable**

when we suppose to say a collection is mutable?

--> if the collection is following 3 properties  then it is mutable
1. replace or swap the items
2. add the new item to existing list
3. remove the items from existing list

**replace or swap the items from list**

In [ ]:
#How can we replace the items from list?
#By using the index position numbers
l3 = ['java','JS','R','Python','c','c++']
#replace the js with java script
l3[1]='javascript'
print(l3)

**Add the new items to the list**

In [ ]:
l4 = ['java', '.net', 'seasharp', 'nodejs', 'Python', 'c', 'c++']
#we are some methods to add items to the list
print(dir(l4))
"""'append', 'clear', 'copy', 'count', 'extend',
'index', 'insert', 'pop', 'remove', 'reverse', 'sort' """

In [ ]:
#1.append():- by default it add the single element at the end of the list
#q)what is default index position when we use append()?
#end of the list
#add 'mongo DB' in to above list.
l4.append('Mongo DB')
print(l4)

In [ ]:
#2.insert(index,item):- is used add the item at specific index position
l4.insert(3,'SQL')
print(l4)
#can i add multiple items by using insert method---> no

In [ ]:
#3.extend(collection_name):- adds the multiple items in to list
l5 = [1,2,3,4,5]
#add the l5 into l4
l4.extend(l5)
print(l4)

**remove the items from list**

In [ ]:
l6 = ['java', '.net', 'seasharp', 'SQL', 'nodejs', 'Python', 'c', 'c++', 'Mongo DB', 1, 2, 3, 4, 5]
#1.pop(index):by default it remove last element
print(l6.pop())

In [ ]:
print(l6)

In [ ]:
print(l6.pop(-1))

In [ ]:
#remove(item_name):- by using name or identity of element it removes the item from list
l6.remove('Mongo DB')
print(l6)
#can i remove the multiple items by usimg the remove()----> No

In [ ]:
#How can i remove the multiple items from list l6--> 'c', 'c++', 1, 2, 3
del l6[6:]
print(l6)

In [ ]:
l6.index('seasharp')

In [ ]:
#remove all the items from the list and return empty list
l6.clear()
print(l6)

In [ ]:
#delete the list
del l6
print(l6)

**sorting of list**

In [ ]:
l = ['apple','banana','Apple','Ornage','kiwi','mango','pineapple','Watermelon']
#sort the above list in ascending orderd
l.sort()
print(l)
#How this sorting can be done?
#sorting can be done based ASCII

In [ ]:
#PRINT IN descending order?
l.sort(reverse=True)
print(l)

In [ ]:
l = [746,3635,36,282,363,254,978,3532,656,432]
l.sort(reverse = True)
print(l)

# 15-05-2025

**Tuple**

In [ ]:
#what is tuple? define tuple or how can you declare a tuple
#tuple is declared in ()
#Tuple is defined as ordered, immutuable and it allows duplicate data

**Tuple allows duplicate data**

In [ ]:
t1 = (1,2,3,4,5,6,7,8,1,2,3,4,5,6,7)
print(len(t1))
print(type(t1))
print(t1)

**tuple is ordered**

In [ ]:
t2 = ('apple','banana','mango','pineapple','kiwi','orange','apple')
print(t2[3])

In [ ]:
#access a range of fruits from 'banana','mango','pineapple','kiwi'
print(t2[1:5])

In [ ]:
print(t2[::-1])

**Tuple is immutable**

In [ ]:
#in tuples we cannot replace, add and remove the items
print(dir(t2))

In [ ]:
#Tuples are faster then the list?--> bcz tuple is immutable

In [ ]:
#How can we add the items or replace the items in tuple?
#convert tuple into list
t3 = ('apple', 'orange', 'kiwi', 'pineapple', 'mango', 'banana', 'apple')
t_l = list(t3)
print(t_l)

In [ ]:
t_l.append('watermelon')
print(t_l)

In [ ]:
t_l.insert(4,'grapes')
print(t_l)

In [ ]:
l_t = tuple(t_l)
print(l_t)

In [ ]:
#when we need to use the tuple and list?
#tuple is used to store valueble data where we are not making any changes in future
#ex:- aadhar, pan, password,...etc
#where we make changes in data in future we use list--> address,phone number

**SET**

In [ ]:
#what is set? or define Set or ? How can we declare a set?
#set is --> {}
#set is defined as unordered, immutuable, and won't allow the duplicate data

**set won't allow the duplicate data**

In [ ]:
s1 = {'apple', 'orange', 'kiwi', 'pineapple', 'grapes', 'mango', 'banana', 'apple', 'watermelon'}
print(len(s1))
print(s1)
print(type(s1))

In [ ]:
s2 = {1,2,3,4,5,6,1,2,3,4,5,6}
print(s2)

**set is unordered**

In [ ]:
#element or items in the set doesn't have index position numbers
s3 = {'orange', 'watermelon', 'apple', 'banana', 'pineapple', 'mango', 'kiwi', 'grapes'}
print(s3[2])

**Set is immutable**

In [ ]:
#in sets we cannot replace or swap the datapoints but we can add and remove the items from the set
#why we cannot replace the items in set ?
#-->set is unordered

**adding methods in set**

In [ ]:
s4 = {'orange', 'watermelon', 'apple', 'banana', 'pineapple', 'mango', 'kiwi', 'grapes'}
#1.add():- is used to add element in set
s4.add(5.5)
print(s4)
#by using the add() can we add multiple items at a time--> No

{'kiwi', 'grapes', 5.5, 'pineapple', 'orange', 'apple', 'banana', 'mango', 'watermelon'}

In [ ]:
print(dir(s4))
"""'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
 'intersection_update', 'isdisjoint', 'issubset',
'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update',
'union', 'update' """

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

"'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',\n 'intersection_update', 'isdisjoint', 'issubset',\n'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update',\n'union', 'update' "

In [ ]:
#update():- is used add multiple items to the set  from other collections
l = [1,2,3,4,5,1,1,3,4,5]
#add the list of numbers in s4
s4.update(l)
print(s4)

{1, 2, 'kiwi', 3, 'grapes', 5.5, 4, 5, 'pineapple', 'orange', 'apple', 'banana', 'mango', 'watermelon'}

**remove the items from set**

In [ ]:
#pop():- is bad practice
s4.pop()
print(s4)

In [ ]:
#remove('name_ite')
s4.remove('watermelon')
print(s4)

In [ ]:
s4.remove('watermelon')
print(s4)

In [ ]:
#discard('item_name):- similar to remove
s4.discard('mango')
print(s4)

In [ ]:
#what is the difference between remove and discard
s4.discard('watermelon')
print(s4)

In [ ]:
#remove() if the datapoint existit remove the data point else it rises and error
#discard() if the datapoint exist or not it wont rise an error

In [ ]:
s4.clear()
print(s4)

set()

In [ ]:
#set is faster then the list, tuple?--> becuse it is unordered and immutable

In [ ]:
seta = {'a','b','c','d'}
setb = {}
#union , intersection
print(seta.union(setb))

In [ ]:
#intersection()
print(seta.intersection(setb))

In [ ]:
print(seta.isdisjoint(setb))

In [ ]:
seta.isdisjoint()

**dictionary**

In [ ]:
#what is dict or define dict or how can we  declare dict?
#dict--> {key:value}
#how the data can be stored in the dictionary in key:value pair
#dictionary is defined unordered, mutable, and wont allow the duplicate data

**dictionary wont allow the duplicate data**

In [ ]:
d1 = {
    "name": "shahul",
    "gender":'Male',
    "Age":29,
    "education":"masters",
    "education":"B.tech"
}
print(len(d1))
print(d1)
print(type(d1))

4
{'name': 'shahul', 'gender': 'Male', 'Age': 29, 'education': 'B.tech'}
<class 'dict'>

**dictionary is unordered**

In [ ]:
#key:value pairs doesn't have index position numbers
#How can we access the data from the dictionary?
#using key names

In [ ]:
print(d1['name'])

shahul

In [ ]:
#print the multiple keys
print(d1['name'],d1['Age'],d1['education'])

**dictionary is mutable**

**Replace the values in dictionary**

In [ ]:
d1 = {
    "name": "shahul",
    "gender":'Male',
    "Age":29,
    "education":"B.tech"
}
d1['education'] = 'Masters in DS'
print(d1)

**add the items in the dictionary**

In [ ]:
d1['fruits'] = ['apple','banana','mango','kiwi']
print(d1)

In [ ]:
#print the "mango" from above dictionary
print(d1['fruits'][2])

# Functions (16-05-2025)

In [ ]:
#what is a function?
#function is a block of code which can be executed when we call it

In [ ]:
#what is the main purpose of the function?
#to avoid the duplicate codes

In [ ]:
#How can we create our own function?
#by using "def"
def f1():
  print("hello world")
#call function
f1()

In [ ]:
#what is a parameter?
#when we define a function we create a variable which is known as parameter
#what is an argumnet?
#when we call a function we pass some values which is known as arguments.

In [ ]:
def f2(name):
  print(f"Hello {name}")

f2("Akash")

Hello Akash

In [ ]:
#how many parameters and arguments shall we give?
#the no of parameters we created is == The no of arguments we are going

In [ ]:
#create a function to check the given number is even or odd
def check_even(num):
  if num%2==0:
    print('even')
  else:
    print('odd')

check_even(5)

odd

In [ ]:
#create a funtion to check the given string is palindrom or not irrescpective letter cases.
a = input("Enter your string: ")
if a.lower() == a[::-1].lower():
  print("yes")
else:
  print("no")

Enter your string: aka
yes

# Functions (19-05-2025)

**KWARGS and ARGS**

In [ ]:
#i dont know how many parameters do i need to pass, then to pass, then what we have to do?
def details(**name):
  print(name)
details(name = 'shahul', age = 29, gender = 'male')

In [1]:
#i dont know how many arguments i need to pass?
def skill(*name):
  print(name)
skill("python","pandas","ML")

('python', 'pandas', 'ML')

In [ ]:
"""1.  **->Kwargs--> Keyword arbitrary arguments
        -> when we dont konw how many parameters we need to pass we use kwargs
        -> The default data type for kwargs is dictionary

    2.  *->ARGS--> arbitary arguments
        --> when we dont know how many arguments we need to pass we use ARGS
        --> The default data type for ARGS is tuple"""

**Return Keyword**

In [ ]:
#return keyword send back the value to the celler
#when we use the return call the function with print()
#return key word is similar to print()

In [2]:
#write a function to print sum of arguments?
def sum_all(*num):
  return sum(num)

print(sum_all(1,2,3))

6

In [3]:
#create a function where is can multiply all the values?
def multiply(*num):
  result = 1
  for i in num:
    result = result * i
  return result

print(multiply(1,2,3,4,5))

120

In [ ]:
#create a function to print factorial of a number?
#create a function to count uppercase and lowercase in a string?

In [ ]:
#create a function to print distinct elements from the list
#input:-[1,2,3,3,3,2,4,5]
#experted o/p:-[1,2,3,4,5]
def unique_list(l):
  x = []
  for i in l:
    if i not in x:
      x.append(i)
  return x

print(unique_list([1,2,3,3,3,2,4,5]))

In [8]:
#write a program to print the range of prime numners?
def prime_num(start,end):
  for i in range(start,end+1):
    for j in range(2,i):
      if i%j==0:
        break
    else:
      print(i,end=" ")

prime_num(20,51)

23 29 31 37 41 43 47

In [ ]:
#create a function to check weather a given number is prime or not?
def prime_num(num):
  pass

***List comprehension***

In [14]:
#what is list comperhension?
#LC offers smaller line of code where a new list can be created from the existing list
fruits = ['apple','banana','kiwi','apple','orange','pineapple']
#separte and print the fruits which is having letters "e" into a new list
new = []
for i in fruits:
  if 'e' in i:
    new.append(i)
print(new)

['apple', 'apple', 'orange', 'pineapple']

In [11]:
#apply LC
#[items for items in collection apply condition]
new1 = [i for i in fruits if 'i' in i]
print(new1)

['kiwi']

In [12]:
#print each length of item into a new list
a= []
for i in fruits:
  a.append(len(i))
print(a)

[5, 6, 4, 5, 6]

In [13]:
new2 = [len(i) for i in fruits]
print(new2)

[5, 6, 4, 5, 6]

In [15]:
fruits = ['apple','banana','kiwi','apple','orange','pineapple']
#print the items in above collection in uppercase
new3 = [i.upper() for i in fruits]
print(new3)

['APPLE', 'BANANA', 'KIWI', 'APPLE', 'ORANGE', 'PINEAPPLE']

In [16]:
#print a range of even numbers from 1 to 100 in a new list
new4 = [i for i in range(1,101) if i%2==0]
print(new4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
lamaba
Map